<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>About as</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <div style="width: 80%">
        <h1 style="color: #283d51; font-family: 'OpenSansBold', Arial, Helvetica, sans-serif; font-weight: normal; font-size: 40px;">About as</h1>
        <p style="color: #283d51; font-family: 'OpenSansSemibold', sans-serif; font-size: 17px; font-weight: normal;">Bus park is responsible for all of the region’s transport services (excluding state highways), from roads and footpaths, to cycling, parking and public transport.</p>
        <p style="color: #283d51; font-size: 14px; font-weight: normal; font-family: 'OpenSansRegular', Arial, sans-serif;">Bus park's day-to-day activities keep Auckland's transport systems moving; including planning and funding of public transport, promoting alternative ways to get around and operating the local roading network.</p>
    </div>
</div>
</body>
</html>