<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Tickets detail</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">

    <form role="form" th:action="@{/admin/addTicket}" th:object="${ticket}" method="post">
        <fieldset>
            <h2>Ticket</h2>
            <hr class="colorgraph">
            <div class="row" style="margin-top:20px;">
                <div class="col-md-6" style="display: table;">
                    <div style="display: table-cell; width: 30%; float: left;">
                        <h4>Price</h4>
                    </div>
                    <div style="display: table-cell; width: 70%; float: left;">
                        <input type="text" name="price" th:field="${ticket.price}" th:errorclass="borderColorRed" class="form-control input-lg">
                        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                    </div>
                </div>
                <div class="col-md-6" style="display: table;">
                    <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                        <h4>Distance</h4>
                    </div>
                    <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                        <input type="text" name="distance" th:field="${ticket.distance}" th:errorclass="borderColorRed" class="form-control input-lg">
                        <div th:if="${#fields.hasErrors('distance')}" th:errors="*{distance}"></div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-md-6" style="display: table;">
                    <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                        <h4>Department time</h4>
                    </div>
                    <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                        <input type="datetime-local" name="departmentTime" th:field="${ticket.departmentTime}" th:errorclass="borderColorRed" class="form-control">
                        <div th:if="${#fields.hasErrors('departmentTime')}" th:errors="*{departmentTime}"></div>
                    </div>
                </div>
                <div class="col-md-6" style="display: table;">
                    <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                        <h4>Arrival time</h4>
                    </div>
                    <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                        <input type="datetime-local" name="arrivalTime" th:field="${ticket.arrivalTime}" th:errorclass="borderColorRed" class="form-control">
                        <div th:if="${#fields.hasErrors('arrivalTime')}" th:errors="*{arrivalTime}"></div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-md-6" style="display: table;">
                    <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                        <h4>Department city</h4>
                    </div>
                    <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                        <select class="form-control" th:field="*{departmentCity.id}" name="departmentCity">
                            <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}" />
                        </select>
                        <div th:if="${#fields.hasErrors('departmentCity')}" th:errors="*{departmentCity}"></div>
                    </div>
                </div>
                <div class="col-md-6" style="display: table;">
                    <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                        <h4>Arrival city</h4>
                    </div>
                    <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                        <select class="form-control" th:field="*{arrivalCity.id}" name="arrivalCity">
                            <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}" />
                        </select>
                        <div th:if="${#fields.hasErrors('arrivalCity')}" th:errors="*{arrivalCity}"></div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top:20px;">
                <div class="col-md-6" style="display: table;">
                    <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                        <h4>Driver</h4>
                    </div>
                    <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                        <select class="form-control" th:field="*{driver.id}" name="driver">
                            <option th:each="driver : ${drivers}" th:value="${driver.id}" th:text="${driver.name}" />
                        </select>
                        <div th:if="${#fields.hasErrors('driver')}" th:errors="*{driver}"></div>
                    </div>
                </div>
                <div class="col-md-6" style="display: table;">
                    <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                        <h4>Bus</h4>
                    </div>
                    <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                        <select class="form-control" th:field="*{bus.id}" name="bus">
                            <option th:each="bus : ${buses}" th:value="${bus.id}" th:text="${bus.model}" />
                        </select>
                        <div th:if="${#fields.hasErrors('bus')}" th:errors="*{bus}"></div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-md-6" style="display: table;">
                    <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                        <h4>Count</h4>
                    </div>
                    <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                        <input type="text" name="count" th:field="${ticket.count}" th:errorclass="borderColorRed" class="form-control input-lg">
                        <div th:if="${#fields.hasErrors('count')}" th:errors="*{count}"></div>
                    </div>
                </div>
                <div class="col-md-6" style="display: table;">
                    <div style="display: table-cell; width: 30%; float: left; vertical-align: middle;">
                        <h4>International</h4>
                    </div>
                    <div style="display: table-cell; width: 70%; float: left; vertical-align: middle;">
                        <label class="radio-inline" style="margin-right:15px;"><input type="radio" th:field="${ticket.isInternational}"  th:errorclass="borderColorRed" name="International" th:value="International">International</label>
                        <label class="radio-inline"><input type="radio" th:field="${ticket.isInternational}" th:errorclass="borderColorRed" name="International" th:value="National">National</label>
                        <div th:if="${#fields.hasErrors('isInternational')}" th:errors="*{isInternational}"></div>
                    </div>
                </div>
            </div>

            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-5">
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2" style="text-align: center;">
                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Save">
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>