<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Sign up</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <form role="form" th:action="@{/auth/register}" th:object="${userForm}"  method="post">
                <fieldset>
                    <h2>Sign up</h2>
                    <hr class="colorgraph">
                    <div class="form-group">
                        <input type="email" name="username" th:field="${userForm.username}" class="form-control input-lg" placeholder="Email Address">
                        <div th:if="${#fields.hasErrors('username')}" th:field="*{username}">Age Error</div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" th:field="${userForm.name}"  class="form-control input-lg" placeholder="Name">
                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Age Error</div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="surname" th:field="${userForm.surname}"  class="form-control input-lg" placeholder="Surname">
                        <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Age Error</div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" th:field="${userForm.password}"  class="form-control input-lg" placeholder="Password">
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Age Error</div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="passwordConfirm" th:field="${userForm.passwordConfirm}"  class="form-control input-lg" placeholder="Confirm password">
                        <div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Age Error</div>
                    </div>
                    <span class="button-checkbox">
				</span>
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign Up">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>