<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Spring Boot - POST-GET AJAX Example</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
        <div class="block">
        <h1>City</h1>

        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Distance</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="city : ${cities}">
                <tr>
                    <th scope="row" th:text="${city.get_id()}"></th>
                    <td th:text="${city.get_name()}"></td>
                    <td th:text="${city.get_distance()}"></td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>

    <div class="block">
        <h1>Bus</h1>

        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Capacity</th>
                <th>DriverId</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="bus : ${buses}">
                <tr>
                    <th scope="row" th:text="${bus.get_id()}"></th>
                    <td th:text="${bus.get_model()}"></td>
                    <td th:text="${bus.get_capacity()}"></td>
                    <td th:text="${bus.get_driverId()}"></td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>

    <div class="block">
        <h1>Ticket</h1>

        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>DepartmentTime</th>
                <th>ArrivalTime</th>
                <th>Distance</th>
                <th>Count</th>
                <th>GovNumber</th>
                <th>DriverId</th>
                <th>DepartmentCityId</th>
                <th>ArrivalCityId</th>
                <th>BusId</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="ticket : ${tickets}">
                <tr>
                    <th scope="row" th:text="${ticket.get_id()}"></th>
                    <td th:text="${ticket.get_price()}"></td>
                    <td th:text="${ticket.get_departmentTime()}"></td>
                    <td th:text="${ticket.get_arrivalTime()}"></td>
                    <td th:text="${ticket.get_distance()}"></td>
                    <td th:text="${ticket.get_count()}"></td>
                    <td th:text="${ticket.get_govNumber()}"></td>
                    <td th:text="${ticket.get_driverId()}"></td>
                    <td th:text="${ticket.get_departmentCityId()}"></td>
                    <td th:text="${ticket.get_arrivalCityId()}"></td>
                    <td th:text="${ticket.get_busId()}"></td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>

    <div class="block">
        <h1>Worker</h1>

        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="worker : ${workers}">
                <tr>
                    <th scope="row" th:text="${worker.get_id()}"></th>
                    <td th:text="${worker.get_name()}"></td>
                    <td th:text="${worker.get_surname()}"></td>
                    <td th:text="${worker.getRole()}"></td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>

    <div class="block">
        <h1>Buyer</h1>

        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>TicketId</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="buyer : ${buyers}">
                <tr>
                    <th scope="row" th:text="${buyer.get_id()}"></th>
                    <td th:text="${buyer.get_name()}"></td>
                    <td th:text="${buyer.get_surname()}"></td>
                    <td th:text="${buyer.get_ticketId()}"></td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>