<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Tickets</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-success" style="width:95% !important;">Create</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-info" style="width:95% !important;">Edit</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-danger" style="width:95% !important;">Delete</button>
        </div>
    </div>

    <div class="block">
        <h1>Ticket</h1>

        <table class="table table-bordered table-fixed" style="max-height:100px; overflow-y:auto;">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>DepartmentTime</th>
                <th>ArrivalTime</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>